# Tested with CPython 3.10.
autograd==1.7.0
h5py==3.14.0
ipykernel==6.29.5
jupyterlab==4.4.0
lifelines==0.30.0
matplotlib==3.10.1
numpy==2.2.5
openpyxl==3.1.5
pandas==2.2.3
plotly==6.1.2
pyexcelerate==0.13.0
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.13.2
tqdm==4.67.1
